<p>add session</p>
<form id="addsessionForm" method="POST" action="/session/session">

    <label>
        roomNumber:
        <input type="text" id="roomNumber" name="roomNumber">
    </label>
    <br>
    <br>
    <label>
        movieId:
        <input type="text" id="movieId" name="movieId">
    </label>
    <br>
    <br>
    <label>
        price:
        <input type="text" id="price" name="price">
    </label>
    <br>
    <br>
    <label>
        showDate:
        <input type="text" id="showDate" name="showDate">
    </label>
    <br>
    <br>
    <label>
        showTimes:
        <input type="text" id="showTimes" name="showTimes">
    </label>
    <br>
    <br>
    <label>
        seat:
        <input type="text" id="seat" name="seat">
    </label>
    <br>
    <br>
    <button type="submit">Add session</button>
</form>

<a class="get-home" href="/admin">back</a>