<div>
    <ul>
        <li><a href="admin/search">search movie</a></li>
        <li><a href="admin/addmoviepage">add movie</a></li> 
        <li><a href="">deleten movie</a></li>
        <li><a href="">update movie</a></li>
    </ul>

</div>