<div>
    <ul>
        <li><a href="admin/search">search movie</a></li>
        <li><a href="admin/addmoviepage">add movie</a></li>
        <li><a href="admin/deletepage">delete movie</a></li>
        <li><a href="admin/updatepage">update movie</a></li>
    </ul>
    <br></br>
    <ul>
        <li><a href="admin/addsessionpage">add session</a></li>
        <li><a href="admin/deletesessionpage">delete session</a></li>
    </ul>
    <br></br>
    <ul>
        <li><a href="admin/orderTicket">Order Ticket</a></li>
        <li><a href="admin/refundTicket">Refund Ticket</a></li>
    </ul>
</div>
</div>