<p>delete the session</p>
<form action="/session/delete" method="post">
      <label for="deletesession">delete session id:</label>
      <input type="text" id="deletesession" name="deletesession"><br><br>
      <input type="submit" value="Submit">
</form>

<a class="get-home" href="/admin">back</a>