<a class="get-home" href="/admin">back</a>

<p>delete the movie name</p>
<form action="/admin/delete" method="post">
      <label for="deletemovie">delete movie id:</label>
      <input type="text" id="deletemovie" name="deletemovie"><br><br>
      <input type="submit" value="Submit">
</form>