<p>order ticket</p>
<form id="orderTicketForm" method="POST" action="/adminTicket/ticket">

    <label>
        userId:
        <input type="text" id="userId" name="userId">
    </label>
    <br></br>
    <label>
        sessionid:
        <input type="text" id="sessionid" name="sessionid">
    </label>
    <br></br>
    <label>
        row:
        <input type="text" id="row" name="row">
    </label>
     <label>
        seat:
        <input type="text" id="seat" name="seat">
    </label>
    <button type="submit">order ticket</button>
</form>

<a class="get-home" href="/admin">back</a>