<p>refund ticket</p>
<form id="refundTicketForm" method="POST" action="/admin/movie">

    <label>
        userId:
        <input type="text" id="userId" name="userId">
    </label>
    <br></br>
    <label>
        sessionid:
        <input type="text" id="sessionid" name="sessionid">
    </label>
    <br></br>
    <label>
        row:
        <input type="text" id="row" name="row">
    </label>
    <label>
        line:
        <input type="text" id="line" name="line">
    </label>
    <button type="submit">refund ticket</button>
</form>

<a class="get-home" href="/admin">back</a>
