<a class="get-home" href="/admin">back</a>

<p>put the movie name</p>
<form action="/admin/search" method="post">
      <label for="searchterm">search movie:</label>
      <input type="text" id="searchTerm" name="searchTerm"><br><br>
      <input type="submit" value="Submit">
</form>