<p>update the movie</p>
<form id="updatemovieForm" method="POST" action="/admin/update">

    <label>
        movieobjectid:
        <input type="text" id="movieobjectid" name="movieobjectid">
    </label>
    <br></br>
    <label>
        moviename:
        <input type="text" id="moviename" name="moviename">
    </label>
    <br></br>
    <label>
        plot:
        <input type="text" id="plot" name="plot">
    </label>
    <br></br>
    <label>
        rating:
        <input type="text" id="rating" name="rating">
    </label>
    <br></br>
    <label>
        runtime:
        <input type="text" id="runtime" name="runtime">
    </label>
    <br></br>
    <label>
        genre:
        <input type="text" id="genre" name="genre">
    </label>
    <br></br>
    <label>
        cast:
        <input type="text" id="cast" name="cast">
    </label>
    <br></br>
    <label>
        releaseTime:
        <input type="text" id="releaseTime" name="releaseTime">
    </label>
    <br></br>
    <label>
        selledTicket:
        <input type="text" id="selledTicket" name="selledTicket">
    </label>
    <br></br>
    <label>
        image:
        <input type="text" id="image" name="image">
    </label>
    <br></br>
    <label>
        id:
        <input type="text" id="id" name="id">
    </label>
    <br></br>
    <button type="submit">update movie</button>
</form>

<a class="get-home" href="/admin">back</a>
